---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Contact - Gedeon Sainrival">
  <main>
  <div class="items-center flex justify-center flex-col">
    <h1 class="text-3xl md:text-6xl font-heading">Work in Progress</h1>
    <p>Come back later</p>
  </div>
</main>
</Layout>