<nav class="flex items-center text-center justify-center py-5 border-b-[#333333] border-b">
  <h1 class="font-heading container font-extrabold max-w-[880px] tracking-tighter uppercase text-lg cursor-pointer opacity-50 hover:opacity-100 transition-opacity duration-300">
    <a href="/">
      gedeondoescode
    </a>
  </h1>
</nav>