<nav class="flex items-center text-center justify-center py-5 border-b-[#333333] border-b">
  <div class="flex flex-col">
    <h1 class="font-heading container font-extrabold max-w-[880px] tracking-tighter uppercase text-lg cursor-pointer opacity-50 hover:opacity-100 transition-opacity duration-300">
      <a href="/">
        gedeondoescode
      </a>
    </h1>
    <li class="flex flex-row items-center justify-center mt-4 space-x-20">
      <ul>
        <a href="/">
        Home
      </a>
      </ul>
      <ul>
        <a href="/work">
        Work
      </a>
      </ul>
      <!-- <ul>
        <a href="/contact">
        Contact
      </a>
      </ul> -->
    </li>
  </div>
</nav>